<div class="ol-orange title">My Lands</div>
<div class="stripe">• GREETINGS •</div>
<img src="http://www.sfoutsidelands.com/images/admat/2014m-lg.png" class="cover">
<%= form_for @user do |f| %>
  <%= f.submit 'sign in with Twitter', class: "btn twitter shadow" %>
<% end %>