<header class='ol-orange'>
  <h1>
    MyLands Playlist
  </h1>
</header>
<div class='checkin-container ol-brown'>
  <div class="checkin-location checkin-artist" data-echonest="ARRH63Y1187FB47783">
      <h1>Lands End Stage</h1>
      <h3>Kanye West</h3>
    </div>
  <div class="checkin-location checkin-artist" data-echonest="ARO4DKQ1187B999536">
    <h1>Panhandle Stage</h1>
    <h3>Typhoon</h3>
  </div>
  <div class="checkin-location checkin-artist" data-echonest="ARL9MID1187B9ABA14">
    <h1>Sutro Stage</h1>
    <h3>Phosphorescent</h3>
  </div>
  <div class="checkin-location">
    <h1>Beer Lands</h1>
  </div>
  <div class="checkin-location checkin-artist" data-echonest="ARAI3JW1187FB52DE1">
    <h1>Twin Peaks Stage</h1>
    <h3>Tegan & Sara</h3>
  </div>
  <div class="checkin-location checkin-artist" data-echonest="ARVG4OK1187B9B6BD3">
    <h1>Lands End Stage</h1>
    <h3>The Killers</h3>
  </div>
</div>


<div class="artist-details hidden ol-gray">
  <div class="details-head">
    <div class="exit">
      <%= image_tag 'x.png' %>
    </div>
  </div>
  <div class="artist-info">
    <h1 class="artist-name"></h1>
    <h3 class="artist-genre"></h3>
    <div class="play-button"><iframe src="" width="300" height="80" frameborder="0" allowtransparency="true"></iframe></div>
  </div>
  <img src='' class="artist-photo"/>
</div>