
body {
  background-color: #708A89;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
}
header h1 {
  color: #FFFFFF;
  margin: 10px 0;
  text-align: center;
}
.checkin-location {
  width: 90%;
  padding-bottom:20px;
  border-bottom: 1px solid white;
  margin: 0 5%;
}
.checkin-artist h1 {
  color: #FFF868;
}
.checkin-artist h1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hidden {
  display: none;
}
.artist-details {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFFFFF;
  overflow: hidden;
}
.exit {
  height: 50px;
  width: 50px;
  float: right;
}
.exit img {
  width: 50px;
}
.details-head {
  width: 100%;
  height: 50px;
}
.artist-info {
  position: relative;
  top: 0px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

img.artist-photo {
  width: 400px;
  border: solid 2px #FFFFFF;
  display: block;
  margin: 20px auto;
  @media (max-width: 400px) {
    display: none;
  }
}
.checkin-container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: 60px;
  text-align: center;
  color: #FFFFFF;
  border-top: solid 2px #FFFFFF;
  @media (max-width: 900px) {
    width: 100%;
    border-left: none;
    border-right: none;
  }
}

iframe {
  margin: 20px 0px;
}
